* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 200px 500px;
  grid-template-rows: 200px 100px 400px;
  grid-gap: 20px;

}

body {
  font-family: Helvetica;
  margin: 200px;
  height: 150px;
  width: 600px;
  
}

.one-left {
  height: 100px;
  font-size: 30px;
  background-color: white;
  text-align: right;
  color: rgba(181,181,181);
}


.box-picture {
  image-rendering: 20px;
  text-align: center;
  border: 15px solid rgba(85, 203, 129);
  border-radius: 100%;
} 

.box-picture img {
  width: 100%;

}

.name {
  text-align: center;
  font-size: 35px;
}

.stars {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(243,243,243);
} 

.title {
  height: 50px;
  text-align: center;
  background-color: rgba(243,243,243);
}  

.rate {
  height: 30px;
  text-align: center;
  font-size: large;
}

footer {
  display: inline-flex;
}

.two-left {
  width: 300px;
  height: 100px;
  background-color: rgba(85, 203, 129);
  display: flex;
  align-items: center;
  justify-content: center;
}

.two-left > img {

  width: 75px;
  height: 75px;
  
}

.three-left {
  width: 300px;
  height: 100px;
  background-color: rgba(75,180,115); 
  display: flex;
  align-items: center;
  justify-content: center;
}

.three-left > img {
  width: 75px; 
  height: 75px;
}
