* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 200px 500px;
  grid-template-rows: 200px 100px 400px;
  grid-gap: 20px;

}

body {
  font-family: Helvetica;
  margin: 200px;
  height: 150px;
  
}

.one-left {
  height: 100px;
  background-color: white;
  text-align: right;
  color: rgba(181,181,181);
}


.box-picture {
  text-align: center;
  background-color: white;
  transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  border-color: rgba(85, 203, 129);
} 

.stars {
  image-orientation: center;
} 

.name {
  text-align: center;
}

.title {
  height: 100px;
  background-color: white;
  text-align: center;
  color: rgba(181,181,181);
}  

.lower {
  text-align: center;
}

.rate {
  text-align: center;
}

.two-left {
    background-color: rgba(85, 203, 129);
    text-align: left;

}

.three-left {
    background-color: rgba(75,180,115); 
    
}
